<!DOCTYPE html>
<html>
<head>
  <title>ImportProject</title>

  <%= stylesheet_link_tag    "ganttproject/application", media: "all" %>
  <%= stylesheet_link_tag    "dhtmlx/gantt/dhtmlxgantt", :media=> "all" %>
  <%= stylesheet_link_tag    "dhtmlx/grid/dhtmlxgrid", :media=> "all" %>

  <%= javascript_include_tag "ganttproject/application" %>
  <%= javascript_include_tag "dhtmlx/gantt/dhtmlxgantt" %>
  <%= javascript_include_tag "dhtmlx/gantt/locale_es" %>
  <%= javascript_include_tag "dhtmlx/grid/dhtmlxcommon" %>
  <%= javascript_include_tag "dhtmlx/grid/dhtmlxgrid" %>
  <%= javascript_include_tag "dhtmlx/grid/dhtmlxdataprocessor" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container" class="container-fluid">
    <!--  main content -->
    <%= yield %>
</div>


<style>
    html, body
    {
        height: 100%;
        width: 100%;
        margin: 0px;
    }
    #main-container{
        min-height: 100%;
        min-width: 100%;
    }
</style>


</body>
</html>