<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @resource.initials %>
</p>

<p>
  <strong>Max units:</strong>
  <%= @resource.max_units %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @resource.cost %>
</p>

<p>
  <strong>Project:</strong>
  <%= @resource.project_id %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
