<h1>Nuevo Proyecto</h1>

<%= form_for(@project) do |f| %>
    <div class="field">
      <%= f.label "Nombre"%><br>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="field">
      <%= f.label "Archivo" %><br>
      <%= f.file_field :file %>
    </div>
    <br>
    <br>
    <div class="actions">
      <%= f.submit "Cargar" %>
    </div>
<% end %>
<br>

<%= link_to 'Volver', projects_path %>
